<p style="color: green"><%= notice %></p>

<h1>Пользователи</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user-container">
      <%= render user %>
      <p>
        <%= link_to "Текущий пользователь", user, class: 'button-link' %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Добавить нового пользователя", new_user_path, class: 'button-link' %>
